<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Новый пользователь</title>
</head>
<body>
<div align="center">
    <h2>Новый пользователь</h2>
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <label for="name">Введите имя</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>

        <label for="lastName">Введите фамилию</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>

        <label for="email">Введите почту</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>

        <input type="submit" th:value="Создать"/>
    </form>
</div>
</body>
</html>